<div class="container">

    <h2>Add comment!</h2>
    <br>
  <%= form_for [@photo, @comment], url: photo_comments_path do |f| %>
  <div class="form-group row">
    <label for="name" class="col-xs-2 col-form-label"><%= f.label :comment %></label>
       <div class="col-xs-10" id="name" placeholder="Edit photo name">
         <%= f.text_field :comment, class: 'form-control' %>
       </div>
     </div>
      <p><%= f.submit %></p>
      <% end %>
    </div>
